<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
      <add name="SQLConStr" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\C#\C#\MyWinformControl\MyWinformControl\friends.mdf;Integrated Security=True" />
      <add name="friendsEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\friends.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
          providerName="System.Data.EntityClient" />
      <add name="MyWinformControl.Properties.Settings.ConnectionString"
          connectionString="Data Source=DESKTOP-LNQ5TIB;User ID=northwind_kun;Password=1234"
          providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="pagePerData" value="40"/>
  </appSettings>
</configuration>